<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8" />
<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />
	<div class="col-md-6 col-xs-12  col-md-offset-3 spacer">

		<div class="panel panel-green">
			<div class="panel-heading">Confirmation de votre réservation</div>
			<div class="form-body">
				<div class="form-group">
					<label>ID Réservation :</label> <label th:text="${reservation.id}"></label>
				</div>
				
				<div class="form-group">
					<label>Titre du Show :</label> <label th:text="${reservation.representation.show.title}"></label>
				</div>
				
				<div class="form-group">
					<label>Location :</label> <label th:text="${reservation.representation.show.location.designation}"></label>
				</div>
				
				<div class="form-group">
					<label>Nombre de place :</label> <label th:text="${reservation.nbPlace}"></label>
				</div>
				
				<div class="form-group">
					<label>Moment :</label> <label th:text="${reservation.representation.moment}"></label>
				</div>
				
				
			
				



			</div>
		</div>
	</div>

</body>

</html>