<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<div th:replace="fragments/header :: header-css"/>

</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Update Locality</div>
			<div class="panel-body">
				<form th:action="@{upDate}" method="post"
				 th:object="${locality}">
				 <div class="form-group">
						<label class="control-label">ID Locality :</label> <input
							type="text" th:field="*{id}" class="form-control" /> <span
							class="text-danger" th:errors="*{id}"></span>
					</div>
				 
				 <div class="form-group">
						<label class="control-label">Code postal :</label> <input
							type="text" th:field="*{postalCode}" class="form-control" /> <span
							class="text-danger" th:errors="*{postalCode}"></span>
				</div>
				
				 <div class="form-group">
						<label class="control-label">Commune :</label> <input
							type="text" th:field="*{name}" class="form-control" /> <span
							class="text-danger" th:errors="*{name}"></span>
				</div>
				
					<div class="form-group ">
		
					<div>
						<button type="submit" class="btn btn-info">Save</button>
					</div>

	</form>
	</div>
	</div>
	</div>
	

<div  th:replace="fragments/footer :: footer"/>
</body>
</html>