<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>


	 
	 
	 
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />

	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">Ajout d'un artiste</div>
			<div class="panel-body">
				<form th:action="@{saveArtiste}" method="post"
					th:object="${Artiste}" enctype="multipart/form-data">
			<div class="form-group ">
				<label class="control-label">Nom :</label>
				<input type="text" th:field="*{nom}" class="form-control" />
				<span class="text-danger"  th:errors="*{nom}" ></span>
			</div>
			<div class="form-group ">
				<label class="control-label">Prénom :</label>
				<input type="text" th:field="*{prenom}" class="form-control" />
				<span class="text-danger"  th:errors="*{prenom}" ></span>
			</div>
			<div class="form-group ">
				<label class="control-label">E-mail :</label>
				<input type="text" th:field="*{mail}" class="form-control" />
				<span class="text-danger"  th:errors="*{mail}" ></span>
			</div>	
			<div class="form-group ">
				<label class="control-label">Date de naissance :</label>
				<input type="date" th:field="*{dateNaissance}" class="form-control" />
				<span class="text-danger"  th:errors="*{dateNaissance}" ></span>
			</div>
			<div class="form-group">
				<label class="control-label">Photo :</label>
				<input type="file" name="picture" class="form-control"/>
				<span class="text-danger"  th:errors="*{photo}"></span>
			</div>
				</div>
				

				
					
			
			<div>
						<button type="submit" class="btn btn-info">Save</button>
					</div>
				</form>
				
		
				
				
				

 


			</div>
		</div>
	</div>




  

	<div th:replace="fragments/footer :: footer" />

</body>

</html>