<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8" />
<div th:replace="fragments/header :: header-css" />
</head>

<body>
	<div th:replace="fragments/header :: header" />
	<div class="col-md-6 col-xs-12  col-md-offset-3 spacer">

		<div class="panel panel-green">
			<div class="panel-heading">Confirmation de l'ajout d'une location</div>
			<div class="form-body">
				<div class="form-group">
					<label>ID Location :</label> <label th:text="${location.id}"></label>
				</div>
				<div class="form-group">
					<label>Slug :</label> <label th:text="${location.slug}"></label>
				</div>
				<div class="form-group">
					<label>Désignation :</label> <label th:text="${location.designation}"></label>
				</div>
				<div class="form-group">
					<label>Adresse :</label> <label th:text="${location.address}"></label>
				</div>
				<div class="form-group">
					<label>Site Web :</label> <label th:text="${location.website}"></label>
				</div>
				<div class="form-group">
					<label>Téléphone :</label> <label th:text="${location.phone}"></label>
				</div>
				<div class="form-group">
					<label>Locality :</label> <label th:text="${location.locality.name}"></label>
				</div>



			</div>
		</div>
	</div>

</body>

</html>